/* 3.5 Offer Section */
.offer-item{
    width: 32%;
    float: left;
    border: 1px #e8e8e8 solid;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    padding: 30px 15px 60px 90px;
}

.offer-item.mg{
    margin: 0 2%;
}

.offer-item .icon{
    position: absolute;
    top:43px;
    left: 25px;
}
.offer-item-title{
    text-transform: capitalize;
    line-height: 1.8;
    transition: color 0.5s;
}
.offer-item:hover .offer-item-title{
 color: white;
}
.offer-item-description{
    color: #999;
}