/* 3.10 Team Section */

.team-item{
    background-color: var(--backgroundcolor);
    width: 30%;
    text-align: center;
    padding: 40px 0;
    float: left;
}
.teammate-role{
    text-transform: uppercase;
    color: #999;
    transition: color 0.5s;
}
.team-contact{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position:absolute;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.team-contact i{
    line-height: 40px;
}

.team-contact a{
    display: block;
    color: white ;
    background-color: var(--maincolor);
    width: 40px;
    height: 40px; 
    margin-left: auto;
}

.team-img{
    position: relative;
    width: 85%;
    margin: auto;
}

.team-img img{
    width: 100%;
}

.team-item:hover .team-contact{
    visibility: visible;
    opacity: 1;
}
.team-item.hovertopbtm-effect{
    z-index: 1;
}
.team-item:hover .teammate{
    color: white;
}
.teammate{
    transition: color 0.5s;
    margin-top: 10px;
}

.team-item:hover .teammate-role{
    color: var(--maincolor);
}
.team-item.mg{
    margin: 0 5%;
}